#####################################################################
#   Macros
#####################################################################

[gcode_macro G32]
gcode:
; quad_gantry_level.applied true is as a test
    #SAVE_GCODE_STATE NAME=STATE_G32
    G90
    CG28
    QUAD_GANTRY_LEVEL
    #RESTORE_GCODE_STATE NAME=STATE_G32


[gcode_macro CG28]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    G28
    {% endif %}